{% extends "base.html" %}

{% load static %}
{% block title%}
<title>Place_Post_List</title>
{% endblock title%}

{% block css %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<style>
   .container {
       justify-content: center;
   }
   .place {
       width: 58vw;
   }
   .nav, .post {
       width: 55vw;
   }
   a {
       text-decoration: none;
       color: black;
   }
   .post > ul > li {
       width: 600px;
   }
   
</style>
{% endblock css %}

{% block content %}
<div class="main border">
    <h3 class="heading"><a href="{% url 'index' %}">My Place Record</a></h3>
    <div class="container">
        <div class="place border flex">
            <div class="nav border flex">
                <span class="count"><span class="num">{{posts | length}}</span>spots</span>
                <ul class="menu">
                    <li>{{category.name}}</a></li>
                </ul>
                <a href="{% url 'place:add' category.pk %}" class="btn-add">{{category.name}}추가</a>
            </div>
            <div class="post border">
                <ul>
                    {% for post in posts %}
                    <li><a href="{% url 'place:detail' post.pk %}">
                        <span class="name">{{post.name}}</span><br>
                        <span class="location">{{post.location}}</span><br>
                        <span class="stars">{{post.stars}}</span>
                    </li></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}