{% extends "base.html" %}

{% load static %}
{% block title %}
<title>Place_Post_Detail</title>
{% endblock title %}

{% block css %}
<style>
    ul {padding: 0; list-style: none;}
    .container {width: 400px; position: relative; justify-content: center;}
    .heading-detail {display: inline-block;}
    .name {font-size: 2rem; text-align: center; font-weight: 700;}
    .btn {position: relative; right: -70px;}
    .stars {position: absolute; top: 15px; right: 295px;}
    .font {font-weight: 600;}
    .stars::after { content: ''; border: 0.1px solid grey; display: block;}
    .memo::before { content: ''; border: 0.1px solid grey; display: block; margin-bottom: 10px;}
</style>
<!-- <link rel="stylesheet" href="{% static 'index.css' %}"> -->
{% endblock css %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div >
    {{message}}
</div>
{% endfor %}
{% endif %}
<div class="main border">
    <h3 class="heading"><a href="{% url 'index' %}">My Place Record</a></h3>
    <h3 class='heading-detail'>- 장소 POST 상세 페이지 -</h3>
    <a href="{% url 'place:edit' post.pk %}"><button class="btn" type="button ">글수정</button></a>
    <a href=""><button class="btn" type="button">글삭제</button></a>
    <div class="container">
        <ul>
            <li><saan class="name">{{post.name}}</saan></li>
            <li><span class="location">{{post.location}}</span></li><br>
            <li><span class="stars">{{post.stars}}</span></li>
            <li>
                <span class="memo font">메모</span><br>
                {{post.memo}}
            </li><br>
            <li>
                <span class="best_menu font">베스트 메뉴</span><br>
                {{post.best_menu}}
            </li><br>
            <li>
                <span class="addtional_info font">추가정보</span><br>
                {{post.additional_info}}
            </li><br>
            <li>
                <span class="photo font">사진</span><br>
                    {% for photo in post.photo.all %}
                    <div>
                        <img src="{{photo.image.url}}" width="150" height="150" alt="">
                        <a href=""><button type="button ">사진 수정</button></a>
                    </div>
                    {% endfor %}
            </li>
        </ul>
    </div>
</div>
{% endblock content %}